body{
    padding: 0;
    margin: 0;
}
#site{
    max-width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

.width{
    text-align: center;
    padding: 3vh;
    margin: 0 auto;
    max-width: 75%;
}

#header{
    background-color: bisque;
}

#footer{
    background-color: aquamarine;
}






.test{
    color: blueviolet;
    text-align: center;
}
